*:not(dialog) {
    margin: 0;
    padding: 0;
}

body {
    
}   

.todo {
    font-size: 20px;
}

#container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.new-todo-btn {
    bottom: 30px;
    position: absolute;
    right: 30px;
}

#content {
   border: 1px solid black;
   flex-basis: 95%;
}

.todo-container {
}

.todo {
    align-items: center;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    justify-content: space-between;
}

.title {
    
}

.detail-btn-container {
    
}

.edit-container {
    display: flex;
    grid-column: span 3;
}


.edit-icon, .delete-icon, .menu-icon {
    width: 48px;
}

.edit-menu {
    display: none;
}

.menu-active {
    display: block;
}

form {
    display: none;
    visibility: hidden;
}

.error-msg {
    color: red;
    display: none;
}

.error {
    border: 1px solid red;
}

.checkbox {
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 15px;
    padding: 10px;
}

.checkbox-checked {
    background-color: black;
}

.todo-checked > .title {
    text-decoration: line-through;
}

.todo-checked *:not(:first-child) {
    opacity: 0.6;
}