*:not(dialog) {
    margin: 0;
    padding: 0;
}

body {
    
}   

.todo {
    font-size: 20px;
}

#container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#content {
   width: 95%;
}

.todo-container {
}

.todo {
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 50%;
}

.detail-btn-container {
    
}

.edit-container {
    display: flex;
    grid-column: span 3;
}

.edit-icon, .delete-icon {
    display: none;
}

.edit-icon, .delete-icon, .menu-icon {
    width: 48px;
}

.edit-menu {
    display: none;
}

.menu-active {
    display: block;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.add-icon {
    width: 36px;
}

.add-icon:hover {
    cursor: pointer;
}

dialog {
    width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

input, textarea {
    padding: 5px;
}

.priority-selector {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.error-msg {
    color: red;
    display: none;
}

.error {
    border: 1px solid red;
}

.checkbox {
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 15px;
    padding: 10px;
}

.checkbox-checked {
    background-color: black;
}

.todo-checked > .title {
    text-decoration: line-through;
}

.todo-checked *:not(:first-child) {
    opacity: 0.6;
}



@media screen and (min-width: 768px) {
    #content {
        width: 85%;
        max-width: 768px;
    }

    .edit-icon, .delete-icon {
        display: block;
    }

    .menu-icon {
       display: none;
    }

    dialog {
        max-width: 70%;
        width: 400px;
    }
}

@media screen and (min-width: 992px) {
    #content {
        width: 65%;
        max-width: 950px;
    }
}

@media screen and (min-width: 1200px) {
    #content {
        width: 60%;
    }
}
