#content {
   
}

.todo {
    align-items: center;
    border: 1px solid black;
    display: flex;
}

.edit-icon, .delete-icon {
    width: 48px;
}

form {
    visibility: hidden;
}

.error-msg {
    color: red;
    display: none;
}

.error {
    border: 1px solid red;
}